<H1>WebMap 2</H1>
    <script type="text/javascript">
      console.log("STARTING");
      var layer;
      var opacity = 1.0;
        var api;
        var map;
        var basket;
        var routesView;
        function login() {
            api.login(function() {});
        };

      function doit() {
        basket.onCreate();
        basket.onStart();
        basket.onResume();
      }
    </script>
<script>
// execute your scripts when DOM is ready. this is a good habit
$(function() {
        $("body").layout({ applyDefaultStyles: true });
        // initialize scrollable with mousewheel support
        $("#routesView").scrollable({ vertical: true, mousewheel: true });
         api = new BusPassAPI("http://localhost:3000/");
        routesView = new BusPass.ListViewController();
        routesView.listView("#routesView .items");
        basket = new BusPass.JourneyBasket(api, new BusPass.JourneyStore());
        basket.onJourneyAddedListener =  {
            onJourneyAdded : function (basket, r) {
                console.log("Route Added! " + r.getName() + " : " + r.getId());
                routesView.addRoute(r);
            }
        };

        basket.onJourneyRemovedListener = {
            onJourneyRemoved : function (basket, r) {
                routesView.removeRoute(r);
            }
        };

        basket.onBasketUpdatedListener = {
            onBasketUpdated : function (basket) {
                console.log("Basket Updated");
            }
        };

        basket.onIOErrorListener = {
            onIOError : function(basket, ioe) {
                alert("Basket IO Error" + ioe.message);
            }
        };

        basket.progressListener = {
            onSyncStart : function () {
                console.log("Basket: SyncStart");
            },
            onSyncEnd : function (nRoutes) {
                console.log("Basket: SyncEnd");
            },
            onRouteStart : function (iRoute) {
                console.log("Basket: StartRoute " + iRoute);
            },
            onRouteEnd : function (iRoute) {
                console.log("Basket: EndRoute " + iRoute);
            },
            onDone : function () {
                console.log("Basket: Done.");
            },
        };


});
</script>

<DIV class="ui-layout-north">North</DIV>
<DIV class="ui-layout-center">
    <div class="row">
        <DIV class="span10">
            <h3>Webmap</h3>
        </DIV>
        <DIV class="span6"/>
            <h3>Routes</h3>
        </DIV>
    </div>
    <div class="row">
        <DIV class="span10">
            <div id="map" class="smallmap">
            </div>
            <hr>
            <button class="btn" onclick="login()">Login</button>
            <button class="btn" onclick="doit()">Doit</button>
        </DIV>
        <DIV class="span6"/>
        <div class="row">
            <div class="span4">
            </div>
            <div class="span2">
                <a class="prev">&laquo; Up</a>
            </div>
        </div>
        <div class="row">
        <div class="span6">
            <div id="routesView" class="scrollable vertical">
                <div class="items">
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="span4">
            </div>
            <div class="span2">
                <a class="next">Down &raquo;</a>
            </div>
        </div>
        </DIV>
    </div>
</DIV>
<DIV class="ui-layout-south">South</DIV>