/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
 *= require_self
 */

/* root element for scrollable */
.scrollable {

    /* required settings */
    position:relative;
    overflow:hidden;

    /* vertical scrollables have typically larger height than width but not now */
    height: 300px;
    width: 700px;
}

/* root element for scrollable items */
.scrollable .items {
    position:absolute;

    /* this time we have very large space for the height */
    height:20000em;
}


/* Display of a Route Code */
.item.route-selected {
    background: pink;
}
.item.route-highlighted {
    background: yellow;
}
.item .route-code {
    text-align: right;
}