<!DOCTYPE html>
<html>
<head>
  <title>BuspassServer</title>
  <%= javascript_include_tag :application %>
  <%= javascript_include_tag "BusPassAPI" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
